
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/x-admin.css" media="all">
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>会员管理</cite></a>
            <a><cite>会员信息管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="layui-form-pane x-center" style="margin-top: 15px; width:800px;">
        <div class="layui-form-item">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
            </div>


        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <select name="SearchType" autocomplete="off" class="layui-input">
                    <option value="0">--查询项--</option>
                    <option value="1">用户名</option>
                    <option value="2">手机号</option>
                    <option value="3">邮箱</option>
                    <option value="4">QQ号</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <input type="text" name="Values" placeholder="请输入查询值" autocomplete="off" class="layui-input">
                </div>


            </div>

            <div class="layui-input-inline" style="width:80px">
                <button id="sel" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </div>
    </div>

    <div class="x-body">
        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button>
             @*<button class="layui-btn" onclick="Permissions_add('添加','//','500','400')"><i class="layui-icon">&#xe608;</i>添加</button><span class="x-right" style="line-height:40px"></span>*@
        </xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="qx" name="" value=""></th>
                    <th>ID</th>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>QQ号</th>
                    <th>地址</th>
                    <th>我的简介</th>
                    <th>创建时间</th>
                    <th>身份</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbodyList"></tbody>
        </table>
        <div id="page"></div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/x-layui.js" charset="utf-8"></script>
    <script src="/js/page.js"></script>
    <script>
        //定义全局变量记录页码信息
        var PageIndex=1;
        layui.use(['form','laydate', 'element', 'laypage', 'layer'], function () {
           var form = layui.form();
            $ = layui.jquery;//jquery
            laydate = layui.laydate;//日期插件
            lement = layui.element();//面包导航
            laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层


            //以上模块根据需要引入
            show(PageIndex);
              var start = {
                min: '1999-01-01 00:00:00'
                , max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                min: '1999-01-01 00:00:00'
                , max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };

            document.getElementById('LAY_demorange_s').onclick = function () {
                start.elem = this;
                laydate(start);
            }

            document.getElementById('LAY_demorange_e').onclick = function () {
                end.elem = this
                laydate(end);
            }
            //全选
            $("#qx").click(function () {
                $("[name=ck]").prop("checked", $(this).prop("checked"));
            })

        });



        $("#sel").click(function () {
            show(PageIndex);
        })


        function show(PageIndex) {
            $.ajax({
                url: "/UserInfos/Query?SearchType=" + $("[name=SearchType]").val() + "&pageIndex=" + PageIndex + "&pageSize=5"+"&Values="+$("[name=Values]").val()+"&startDate="+$("#LAY_demorange_s").val()+"&endDate="+$("#LAY_demorange_e").val(),
                type: "post",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#tbodyList").empty();
                    for (var i = 0; i < data.Data.length; i++) {

                        var sex = "";
                        if (data.Data[i].Sex == 0)
                            sex = "马启琛";
                        if (data.Data[i].Sex == 1)
                            sex = "男";
                        if (data.Data[i].Sex == 2)
                            sex = "女";
                        var tr = '<tr>'
                            + '<td><input type="checkbox" value="' + data.Data[i].UserId + '" name="ck"></td>'
                            + '<td>' + data.Data[i].UserId + '</td>'
                            + '<td><img src="@ViewBag.url' + data.Data[i].ImgPath + '" width="50" height="50" /></td>'
                            + '<td>' + data.Data[i].UserName + '</td>'
                            + '<td>' + sex + '</td>'
                            + '<td>' + data.Data[i].Phone + '</td>'
                            + '<td>' + data.Data[i].Email + '</td>'
                            + '<td>' + data.Data[i].QQ+ '</td>'
                            + '<td>' + data.Data[i].Address + '</td>'
                            + '<td>' + data.Data[i].MyDesc+ '</td>'
                            + '<td>' + data.Data[i].CreateDate + '</td>'
                            + '<td>' + (data.Data[i].State == 0 ? "读者" : "作者") + '</td>'
                            //<a title="编辑" href="javascript:;" onclick="Permissions_edit(\'编辑\',\'Update.aspx\',' + data.Data[i].UserId + ',\'500\',\'400\')" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a>
                            + '<td class="td-manage"><a title="删除" href="javascript:;" onclick="Permissions_del(this,\'' + data.Data[i].UserId + '\')" style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>'
                        $("#tbodyList").append(tr);
                    }

                    var page = Math.ceil(data.PageCount / 5);  //总页数
                    var curr = PageIndex;    //当前页

                    laypage({
                        cont: 'page',   //分页需要显示的地方
                        pages: page,    //总页数
                        curr: curr,     //当前页
                        groups: 3,      //连续显示分页数
                        skip: true,     //是否开启跳页
                        first: '首页',
                        last: '尾页',
                        skin: 'molv',   //加载内置皮肤，也可以直接赋值16进制颜色值，如:#c00
                        prev: '<em><</em>',      // 若不显示，设置false即可
                        next: '<em>></em>',      //若不显示，设置false即可
                        jump: function (e, first) { //触发分页后的回调
                            if (!first) { //一定要加此判断，否则初始时会无限刷新
                                PageIndex = e.curr;
                                show(PageIndex);
                            }
                        }
                    });
                }
            })
        }

        /*添加*/
        function Permissions_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }

        //编辑
        function Permissions_edit(title, url, id, w, h) {
            x_admin_show(title, url + "?Id=" + id, w, h);
        }

        //批量删除提交
        function delAll() {
            layer.confirm('确认要删除吗？', function (index) {
                //捉到所有被选中的，发异步进行删除
                var ids = [];
                $("[name=ck]:checked").each(function () {
                    ids.push($(this).val());
                })
                console.log(ids);
                if (ids.length == 0) {
                    alert("请选择要操作的数据");
                    return;
                }
                $.ajax({
                    url: "Ashx/DeleteTypes.ashx?Ids=" + ids,
                    type: "post",
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            layer.msg('删除成功', { icon: 1 });
                            show();
                        }

                    }
                })
            });
        }

        /*删除*/
        function Permissions_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $.ajax({
                    url: "Ashx/DeleteTypes.ashx?Ids=" + id,
                    type: "post",
                    success: function (data) {
                        console.log(data);
                        if (data) {
                            layer.msg('删除成功', { icon: 1 });
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', { icon: 1, time: 1000 });
                        }
                        else {
                            layer.msg('删除失败!', { icon: 2, time: 1000 });
                        }
                    }
                })
            });
        }
    </script>
</body>
</html>


