
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="copyright" content="本页版权 www.98k.com 98k中文网所有。All Rights Reserved" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://static.98k.com/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>玄幻小说,玄幻小说排行榜完本,好看的玄幻小说 - 98k中文网</title>
    <meta name="keywords" content="奇幻小说,玄幻小说,奇幻小说排行榜,玄幻小说排行榜,奇幻玄幻小说频道,98k中文网" />
    <meta name="description" content="读奇幻玄幻小说尽在98k中文小说网，98k中文小说网是奇幻、玄幻小说最大的原创网站之一，提供热门好看的奇幻、玄幻在线阅读下载，奇幻玄幻小说排行榜，经典全本，奇幻小说，玄幻小说。" />
    <link rel="stylesheet" href="~/css/basic.min.css" />
    <link rel="stylesheet" href="~/css/category.min.css" />
    <script src="~/jquery-3.1.1.js"></script>
    <script>
        function ToSearch() {
            location.href = '/Home/Search?keyword=' + $("[name=keyword]").val();
        }
    </script>
</head>
<body scriptSign="category" _pgid="3" cateId="1">
    <div class="wrap">
        <div class="head-simple">
            <div class="wrap">
                <div class="head-top clearfix">
                    <div class="logo imgbox fl"><a href="/Home/Index"><img src="~/picture/logo.png" alt="logo"></a></div>
                    @*全文检索11111*@
                    <form id="commSearch" name="searchForm" method="post"
                          action="" target="_blank">
                        <div class="search-box fl" data-hook="searchSuggest">
                            <input class="search-text fl" name="keyword" type="text"
                                   placeholder="雪中悍刀行" autocomplete="off" disableautocomplete /> <input type="button" onclick="ToSearch()" class="search-btn fr" />
                        </div>
                    </form>
                    <div class="pay fr"><a class="user_pay" href="http://pay.98k.com" target="_blank">充值</a></div>
                    <div class="menu clearfix">
                        <a href="/Home/Index">首页</a>
                        <div class="cate tabA">
                            <a href="##">分类<em class="icon"></em></a>
                            <div class="tabA-float cate-cell">
                                <ul>
                                    <li><a href="http://www.98k.com/category/1.html">奇幻玄幻</a></li>
                                    <li><a href="http://www.98k.com/category/3.html">武侠仙侠</a></li>
                                    <li><a href="http://www.98k.com/category/6.html">历史军事</a></li>
                                    <li><a href="http://www.98k.com/category/9.html">都市娱乐</a></li>
                                    <li><a href="http://www.98k.com/category/21.html">竞技同人</a></li>
                                    <li><a href="http://www.98k.com/category/15.html">科幻游戏</a></li>
                                    <li><a href="http://www.98k.com/category/18.html">悬疑灵异</a></li>
                                    <li><a href="http://www.98k.com/category/40.html">二次元</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="/Home/Ranking">排行</a>
                        <a href="/Home/Stack">书库</a>
                        <a href="/Home/End">完本</a>
                        <a href="http://author.98k.com" target="_blank">作者专区</a>
                    </div>

                    <div class="right-wrap-login ud_userTox">
                        <div class="unlogin ud_unlogin clearfix">
                            <div class="login fl"><a class="user_login" href="/Home/Login">登录</a></div>
                            <div class="regist fl"><a class="user_register" href="/Home/Register">注册</a></div>
                        </div>
                        <div class="logon ud_loged clearfix" style="display:none;">
                            <div class="user tabA imgbox">
                                <img class="ud_avatar ud_goUsrCenter" src="~/picture/book.png" alt="" target="_blank">
                                <div class="user-blank tabA-float">
                                    <a href="javascript:void(0);" class="quit ud_logout">退出</a>
                                    <div class="user-name ud_goUsrCenter"><span class="ud_nickName"></span><em class="icon"></em></div>
                                    <div class="user-info clearfix">
                                        <div class="user-info-cell ud_money">
                                            <span class="item_loading"></span>
                                        </div>
                                        <div class="user-info-cell ud_ticket">
                                            <span class="item_loading"></span>
                                        </div>
                                        <div class="user-info-cell ud_mticket">
                                            <span class="item_loading"></span>
                                        </div>
                                    </div>
                                    <a href="http://pay.98k.com" class="btn" target="_blank">立即充值</a>
                                </div>
                            </div>
                            <div class="message">
                                <a href="http://home.98k.com/msgIn.do" class="mes" target="_blank">消息(<span class="ud_umessage"></span>)</a>
                            </div>
                            <div class="shelf"><a href="http://home.98k.com/favoritesBook.do" target="_blank">书架</a></div>
                            <div class="foot-mark tabA">
                                <span class="mark clearfix">历史<em class="icon"></em></span>
                                <div class="tabA-float float-mark clearfix">
                                    <!-- loading -->
                                    <div class="ud_hisloading">
                                        <span class="item_loading"></span>
                                    </div>
                                    <!-- 没有记录 -->
                                    <div class="ud_noHistory" style="display: none">
                                        <h2>亲爱的书友，您暂时没有阅读记录~</h2>
                                        <div class="tips">阅读记录只保存最近阅读的5本小说</div>
                                        <div class="enter"><a href="http://home.98k.com/favoritesBook.do" target="_blank">进入我的书架</a></div>
                                    </div>
                                    <!-- 有记录 -->
                                    <div class="ud_hasHistory" style="display: none"><ul class="mark-list"></ul></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="cat_navbg" style="background-image:url('../../wwwroot/images/1.jpeg')">
            <div class="cat_nav">

                <a href="http://www.98k.com/store/c1/c1008/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">王朝争霸</a>

                <a href="http://www.98k.com/store/c1/c1009/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">吸血传奇</a>

                <a href="http://www.98k.com/store/c1/c1001/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">西方奇幻</a>

                <a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">异世大陆</a>

                <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">东方玄幻</a>

                <a href="http://www.98k.com/store/c1/c1005/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">异术超能</a>

                <a href="http://www.98k.com/store/c1/c1004/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">转世重生</a>

                <a href="http://www.98k.com/store/c1/c1007/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">魔法校园</a>

                <a href="http://www.98k.com/store/c1/c1006/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">上古神话</a>

                <a href="http://www.98k.com/store/c1/c3116/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html">变身情缘</a>

            </div>
        </div>
        <div class="h40-blank"></div>
        <div class="clearfix">
            <div class="top-one-blank-left">
                <div id="index_tpic" alog-group="index_01_bigcover" data-zlog="100">
                    <div id="index_tpic_big">

                        <a href="http://book.98k.com/book/711996.html" target="_blank" style="display: inline;"><img src="~/picture/b4e1c30d49155c913bb4089a0f99a18f.jpeg" alt="万界仙王"></a>

                        <a href="http://book.98k.com/book/724569.html" target="_blank"><img src="~/picture/0c9047180d47ec057d8f0b9fef0519eb.jpeg" alt="杀仙传"></a>

                        <a href="http://book.98k.com/book/735182.html" target="_blank"><img src="~/picture/7d673fa46ce9b0b31a5b1bb079fe630b.jpeg" alt="加冕为王"></a>

                        <a href="http://book.98k.com/book/263670.html" target="_blank"><img src="~/picture/1430877144748.jpg" alt="天道天骄"></a>

                        <a href="http://book.98k.com/book/748801.html" target="_blank"><img src="~/picture/6c2c28bce8bb86d005c592fbed5d43fd.jpeg" alt="至尊妖魁"></a>

                    </div>
                    <div id="index_tpic_binfo">

                        <div class="index_tpic_info" style="display: block;">
                            <h3><a class="title" href="http://book.98k.com/book/711996.html" title="万界仙王" target="_blank">万界仙王</a></h3>
                            <div class="author"><span>作者</span><a href="http://home.98k.com/show/userInfo/22352817.html" target="_blank">西门飘血</a></div>
                            <div class="cate"><span>类型</span><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">东方玄幻</a></div>
                            <p class="info"><a title="百年前种下一颗种子，现世就多了一颗百年老药。千年前埋下一座神藏，现世坑的敌人找不着北。万年前亲了一个姑娘，仙界的神女便等了他万年。" target="_blank" data-ack="100_11|100">百年前种下一颗种子，现世就多了一颗百年老药。千年前埋下一座神藏，现世坑的敌人找不着北。万年前亲了一个姑娘，仙界的神女便等了他万年。</a></p>
                            <p class="chapter"><span>最新章节</span></span><a href="http://book.98k.com/chapter/711996/44315181.html" target="_blank">正文:第六百一十章 开业大吉</a></p>
                        </div>

                        <div class="index_tpic_info">
                            <h3><a class="title" href="http://book.98k.com/book/724569.html" title="杀仙传" target="_blank">杀仙传</a></h3>
                            <div class="author"><span>作者</span><a href="http://home.98k.com/show/userInfo/14853755.html" target="_blank">天下九州</a></div>
                            <div class="cate"><span>类型</span><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">东方玄幻</a></div>
                            <p class="info"><a title="危楼高百尺，手可摘星辰。不敢高声语，恐惊天上人。苏铮，一个穷山村走出来的少年，他立誓为恶，要登楼屠仙" target="_blank" data-ack="100_13|100">危楼高百尺，手可摘星辰。不敢高声语，恐惊天上人。苏铮，一个穷山村走出来的少年，他立誓为恶，要登楼屠仙</a></p>
                            <p class="chapter"><span>最新章节</span></span><a href="http://book.98k.com/chapter/724569/44317004.html" target="_blank">第四卷  杀仙:第一千二百四十三章  一起上</a></p>
                        </div>

                        <div class="index_tpic_info">
                            <h3><a class="title" href="http://book.98k.com/book/735182.html" title="加冕为王" target="_blank">加冕为王</a></h3>
                            <div class="author"><span>作者</span><a href="http://home.98k.com/show/userInfo/48866797.html" target="_blank">奥丁般纯洁</a></div>
                            <div class="cate"><span>类型</span><a href="http://www.98k.com/store/c1/c1001/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">西方奇幻</a></div>
                            <p class="info"><a title="他来自于黑暗，用黑暗审判邪恶，追寻光明。终有一日，虚伪的圣光将会熄灭，而他，将加冕为王。" target="_blank" data-ack="100_15|100">他来自于黑暗，用黑暗审判邪恶，追寻光明。终有一日，虚伪的圣光将会熄灭，而他，将加冕为王。</a></p>
                            <p class="chapter"><span>最新章节</span></span><a href="http://book.98k.com/chapter/735182/44314918.html" target="_blank">第八卷 审判之王:第0533章 临时计划</a></p>
                        </div>

                        <div class="index_tpic_info">
                            <h3><a class="title" href="http://book.98k.com/book/263670.html" title="天道天骄" target="_blank">天道天骄</a></h3>
                            <div class="author"><span>作者</span><a href="http://home.98k.com/show/userInfo/9622031.html" target="_blank">拈花一叶</a></div>
                            <div class="cate"><span>类型</span><a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">异世大陆</a></div>
                            <p class="info"><a title="天道恢弘，谁主浮生？天道一役，谁破苍穹？" target="_blank" data-ack="100_17|100">天道恢弘，谁主浮生？天道一役，谁破苍穹？</a></p>
                            <p class="chapter"><span>最新章节</span></span><a href="http://book.98k.com/chapter/263670/44316042.html" target="_blank">正文:第两千七百七十七章 胜负从场外开始！</a></p>
                        </div>

                        <div class="index_tpic_info">
                            <h3><a class="title" href="http://book.98k.com/book/748801.html" title="至尊妖魁" target="_blank">至尊妖魁</a></h3>
                            <div class="author"><span>作者</span><a href="http://home.98k.com/show/userInfo/48138914.html" target="_blank">一梦缘起</a></div>
                            <div class="cate"><span>类型</span><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">东方玄幻</a></div>
                            <p class="info"><a title="少年从一具被称作妖兽替代品的月铜傀开始，赋予这个时代一个亘古不灭的名字" target="_blank" data-ack="100_19|100">少年从一具被称作妖兽替代品的月铜傀开始，赋予这个时代一个亘古不灭的名字</a></p>
                            <p class="chapter"><span>最新章节</span></span><a href="http://book.98k.com/chapter/748801/44310165.html" target="_blank">正文:第二百四十一章  天葬浮屠，遍地生财！</a></p>
                        </div>

                    </div>
                    <div id="index_tpic_tab">

                        <a href="http://book.98k.com/book/711996.html" target="_blank" class="active">
                            <img src="~/picture/b4e1c30d49155c913bb4089a0f99a18f.jpeg" alt="万界仙王">
                        </a>

                        <a href="http://book.98k.com/book/724569.html" target="_blank">
                            <img src="~/picture/0c9047180d47ec057d8f0b9fef0519eb.jpeg" alt="杀仙传">
                        </a>

                        <a href="http://book.98k.com/book/735182.html" target="_blank">
                            <img src="~/picture/7d673fa46ce9b0b31a5b1bb079fe630b.jpeg" alt="加冕为王">
                        </a>

                        <a href="http://book.98k.com/book/263670.html" target="_blank">
                            <img src="~/picture/1430877144748.jpg" alt="天道天骄">
                        </a>

                        <a href="http://book.98k.com/book/748801.html" target="_blank">
                            <img src="~/picture/6c2c28bce8bb86d005c592fbed5d43fd.jpeg" alt="至尊妖魁">
                        </a>

                    </div>
                    <div class="cl10"></div>
                </div>
                <div class="livelybox">
                    <div class="livelytit">精彩专题</div>

                    <div>
                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/subject/newshelves/32.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/subject/newshelves/32.html">月如火新手《一世独尊》震撼发布</a>
                        </p>

                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/zhuanti/nc/2017/yz/index.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/zhuanti/nc/2017/yz/index.html">天蚕土豆《元尊》震撼上架专题活动</a>
                        </p>
                    </div>

                    <div>
                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/zhuanti/nc/2017/swxc/index.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/zhuanti/nc/2017/swxc/index.html">乱世狂刀《圣武星辰》重磅发布</a>
                        </p>

                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/subject/nc/116.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/subject/nc/116.html">2016年5月月票榜新星贪睡的龙《十方神王》</a>
                        </p>
                    </div>

                    <div>
                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/subject/nc/127.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/subject/nc/127.html">2016年8月月票榜新星青鸾峰上《无敌剑域》</a>
                        </p>

                        <p>
                            <span>
                                <a target="_blank" href="http://news.98k.com/subject/newshelves/38.html">专题·</a>
                            </span>
                            <a target="_blank" href="http://news.98k.com/subject/newshelves/38.html">火神新作《九天剑主》</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="top-one-blank-right fr">
                <div class="tab-lists qtbg_color">
                    <div class="top-title clearfix">
                        <div class="title fl">强推榜</div>
                    </div>
                    <div class="h10-blank"></div>
                    <div class="lists">
                        <ul>

                            <li class="postion-right">
                                <div class="imgbox fl">
                                    <a href="http://book.98k.com/book/735298.html">
                                        <img src="~/picture/5cf50d18ee5c1083bb12c23f71d1a522.jpeg" alt="http://book.98k.com/book/735298.html" target="_blank">
                                    </a>
                                </div>
                                <a class="title" href="http://book.98k.com/book/735298.html" target="_blank" title="">沧海纪</a>
                                <a class="author" href="http://home.98k.com/show/userInfo/48869637.html" target="_blank" title="苏公子南伽">苏公子南伽</a>
                                <a class="cate" href="http://www.98k.com/store/c1/c1008/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank" title="">[王朝争霸]</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/49686843.html" target="_blank" title="萧颜笑">萧颜笑</a>
                                <a href="http://book.98k.com/book/779341.html" target="_blank" title="暗影绝天">暗影绝天</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/49510286.html" target="_blank" title="落雨划空">落雨划空</a>
                                <a href="http://book.98k.com/book/768082.html" target="_blank" title="八荒神记">八荒神记</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/44740810.html" target="_blank" title="浪子边城">浪子边城</a>
                                <a href="http://book.98k.com/book/774283.html" target="_blank" title="非凡神主">非凡神主</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/50014809.html" target="_blank" title="诸葛若">诸葛若</a>
                                <a href="http://book.98k.com/book/775279.html" target="_blank" title="天墟之城">天墟之城</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/42110546.html" target="_blank" title="EM粒子">EM粒子</a>
                                <a href="http://book.98k.com/book/776888.html" target="_blank" title="亡灵都城">亡灵都城</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/13043263.html" target="_blank" title="蓝就">蓝就</a>
                                <a href="http://book.98k.com/book/699470.html" target="_blank" title="仙武狂潮">仙武狂潮</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/49655188.html" target="_blank" title="夜拂影">夜拂影</a>
                                <a href="http://book.98k.com/book/763582.html" target="_blank" title="永生之主">永生之主</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/50103247.html" target="_blank" title="道人道人">道人道人</a>
                                <a href="http://book.98k.com/book/780892.html" target="_blank" title="星穹饕餮纪">星穹饕餮纪</a>
                            </li>

                            <li>
                                <a class="author2" href="http://home.98k.com/show/userInfo/50196839.html" target="_blank" title="真会飞的兔子">真会飞的兔子</a>
                                <a href="http://book.98k.com/book/781106.html" target="_blank" title="超凡厨师小队">超凡厨师小队</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 1.	分类一屏通栏广告位 -->
        <div class="com-recbox">
            <script type="text/javascript" src="~/js/240517642425.js"></script>
        </div>
        <div class="h40-blank"></div>
        <div class="top-two-blank clearfix">
            <div class="book-blank-box fl">
                <div class="tab-lists-two">
                    <div class="top-title clearfix">
                        <div class="title fl">新书精选</div>
                        <!-- <div class="more fr"><a class="more-link" href="#" target="_blank">更多</a></div> -->
                    </div>
                    <div class="mind-showbook clearfix">
                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/761710.html" target="_blank"><img src="~/picture/8e605669d234bb57bcf21871298c655b.jpeg" alt="魔法专修学院" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/761710.html" target="_blank">魔法专修学院</a></div>
                                <p class="info"><a href="http://book.98k.com/book/761710.html" target="_blank">充世界满纷争，邪与正、善与恶对抗，战争拉开帷幕！</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49471984.html" target="_blank">猪皮香油</a></div>
                                <div class="updatenum">日更5千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/776302.html" target="_blank"><img src="~/picture/f8e3e461178451f21d5c5a91d2653812.jpeg" alt="兽人道尊" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/776302.html" target="_blank">兽人道尊</a></div>
                                <p class="info"><a href="http://book.98k.com/book/776302.html" target="_blank">一个废材道士穿越成为一个兽人，开创了一个牛B教派。</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/50052538.html" target="_blank">巫山老幺</a></div>
                                <div class="updatenum">日更3千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/774193.html" target="_blank"><img src="~/picture/9fc15d7341e6a5d8fd914ae54f5c8de4.jpeg" alt="执笔写神州" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/774193.html" target="_blank">执笔写神州</a></div>
                                <p class="info"><a href="http://book.98k.com/book/774193.html" target="_blank">大争之世当有一人一笔，在这混乱的世道写出个盛世安宁。</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49384157.html" target="_blank">飞来一座山</a></div>
                                <div class="updatenum">日更7千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/770790.html" target="_blank"><img src="~/picture/9dbf0394b44151fc74b0021cda587994.jpeg" alt="仙途九歌" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/770790.html" target="_blank">仙途九歌</a></div>
                                <p class="info"><a href="http://book.98k.com/book/770790.html" target="_blank">入异界踏仙途，陈锐一路披荆斩棘,高歌笑傲在真仙大道之上。</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49840419.html" target="_blank">长江榨菜</a></div>
                                <div class="updatenum">日更3千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/777391.html" target="_blank"><img src="~/picture/01025688076329b33a83056a0ef7f2cc.jpeg" alt="无烬战尊" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/777391.html" target="_blank">无烬战尊</a></div>
                                <p class="info"><a href="http://book.98k.com/book/777391.html" target="_blank">邀倾城仙子，揽九天碧月</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49968717.html" target="_blank">曾经我有梦</a></div>
                                <div class="updatenum">日更0</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/662901.html" target="_blank"><img src="~/picture/4f1ecf20b8cc45b84f713a53a38b6911.jpeg" alt="血色天途" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/662901.html" target="_blank">血色天途</a></div>
                                <p class="info"><a href="http://book.98k.com/book/662901.html" target="_blank">强横的力量打破世界规则，证无上天途</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/43370065.html" target="_blank">丹晨本尊</a></div>
                                <div class="updatenum">日更3千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/757419.html" target="_blank"><img src="~/picture/fd4606841b505751f583070bde15cd8a.jpeg" alt="云中之瞳" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/757419.html" target="_blank">云中之瞳</a></div>
                                <p class="info"><a href="http://book.98k.com/book/757419.html" target="_blank">轮回之间，天风长河，时空际遇，两个少年走向了不同命运</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/39684441.html" target="_blank">西瓜芝麻炖</a></div>
                                <div class="updatenum">日更2千</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/771770.html" target="_blank"><img src="~/picture/3fcb672813b62fd8e89578fbaeb1f9f7.jpeg" alt="截教真仙" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/771770.html" target="_blank">截教真仙</a></div>
                                <p class="info"><a href="http://book.98k.com/book/771770.html" target="_blank">偶然成为截教亲传弟子，从此98k人间何足论，天地任吾之</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/35757063.html" target="_blank">真雨</a></div>
                                <div class="updatenum">日更0</div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/776167.html" target="_blank"><img src="~/picture/a7ba9ca30f5b08de3ad8d649c41df9c1.jpeg" alt="战天武录" target="_blank"></a></div>
                            <div class="book-info book-info1 fr">
                                <div class="bookname"><a href="http://book.98k.com/book/776167.html" target="_blank">战天武录</a></div>
                                <p class="info"><a href="http://book.98k.com/book/776167.html" target="_blank">披荆斩棘，逆流而上，最终成为一代热血传奇</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49925644.html" target="_blank">红酒加可乐1</a></div>
                                <div class="updatenum">日更2千</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="top-two-blank-right fr">
                <div class="tab-lists">
                    <div class="top-title clearfix">
                        <div class="title fl">新书榜</div>
                        <div class="more fr"><a class="more-link" href="http://book.98k.com/rank/details.html?rt=4&d=1&i=0&c=1" target="_blank">更多</a></div>
                    </div>
                    <div class="h10-blank"></div>
                    <div class="lists">
                        <ul>

                            <li>
                                <div class="imgbox fl"><a href="http://book.98k.com/book/777614.html" target="_blank"><img src="~/picture/5a6e8136ce542b0934eaef579c2a5b85.jpeg" alt="超级吞噬系统"></a></div>
                                <em class="top1 list_icon"></em>
                                <a class="title" href="http://book.98k.com/book/777614.html" target="_blank" title="超级吞噬系统">超级吞噬系统</a>
                                <a class="author" href="http://home.98k.com/show/userInfo/24732853.html" target="_blank" title="">零想</a>
                                <span>105614&nbsp;人气数</span>
                            </li>

                            <li><span>55983</span><em class="top2 list_icon">2</em><a href="http://book.98k.com/book/783965.html" target="_blank" title="九逆仙途">九逆仙途</a></li>

                            <li><span>33890</span><em class="top3 list_icon">3</em><a href="http://book.98k.com/book/779859.html" target="_blank" title="时空寓言之第五空间">时空寓言之第五空间</a></li>

                            <li><span>5830</span><em class="top4 list_icon">4</em><a href="http://book.98k.com/book/783901.html" target="_blank" title="道不可到">道不可到</a></li>

                            <li><span>4930</span><em class="top5 list_icon">5</em><a href="http://book.98k.com/book/780922.html" target="_blank" title="万界合流">万界合流</a></li>

                            <li><span>3136</span><em class="top6 list_icon">6</em><a href="http://book.98k.com/book/780892.html" target="_blank" title="星穹饕餮纪">星穹饕餮纪</a></li>

                            <li><span>2813</span><em class="top7 list_icon">7</em><a href="http://book.98k.com/book/782646.html" target="_blank" title="长歌剑宗">长歌剑宗</a></li>

                            <li><span>2053</span><em class="top8 list_icon">8</em><a href="http://book.98k.com/book/781230.html" target="_blank" title="三步生莲">三步生莲</a></li>

                            <li><span>1589</span><em class="top9 list_icon">9</em><a href="http://book.98k.com/book/783937.html" target="_blank" title="卑微天道">卑微天道</a></li>

                            <li><span>1538</span><em class="top10 list_icon">10</em><a href="http://book.98k.com/book/782953.html" target="_blank" title="御魔道">御魔道</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2.	分类二屏通栏广告位 -->
        <div class="com-recbox">
            <script type="text/javascript" src="~/js/240517642428.js"></script>
        </div>
        <div class="h40-blank"></div>
        <div class="top-two-blank clearfix">
            <div class="top-two-blank-left fl">
                <div class="top-title clearfix">
                    <div class="title">热销作品</div>
                    <div class="compile">
                        <div class="swiper-wrapper small-swiper">
                            <ul class="swiper-container" style="height: 180px">

                                <li class="swiper-item" data-url="http://book.98k.com/book/774111.html" target="_blank">
                                    <img src="~/picture/7004f0125731820d0790288ab8fdae3c.jpeg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/731110.html" target="_blank">
                                    <img src="~/picture/415d0b8cba3e0eb71c800a548ede0feb.jpeg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/578824.html" target="_blank">
                                    <img src="~/picture/1482306024388.jpg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/767872.html" target="_blank">
                                    <img src="~/picture/9cc892877b37f278dd7a1ed1a6d6585b.jpeg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/568980.html" target="_blank">
                                    <img src="~/picture/1463620780243.jpg">
                                </li>

                            </ul>
                            <div class="swiper-book swiper-infobox">

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/774111.html" class="name" target="_blank">万古仙劫</a>
                                    <a href="http://home.98k.com/show/userInfo/49710438.html" class="author-text" target="_blank">浩辰羽</a>
                                    </p>
                                    <span class="intr intr-text">天穹的守护者，世代镇守天穹，护佑万灵！</span>
                                    <a href="http://book.98k.com/book/774111.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/731110.html" class="name" target="_blank">万界挂神</a>
                                    <a href="http://home.98k.com/show/userInfo/48715707.html" class="author-text" target="_blank">步步精心</a>
                                    </p>
                                    <span class="intr intr-text">“神很了不起吗？即便踏遍万界我也要将你彻底抹杀！”</span>
                                    <a href="http://book.98k.com/book/731110.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/578824.html" class="name" target="_blank">儒武争锋</a>
                                    <a href="http://home.98k.com/show/userInfo/101589.html" class="author-text" target="_blank">情殇孤月</a>
                                    </p>
                                    <span class="intr intr-text">千年前穿越异世，成就一代儒圣，却遭武帝暗算身陨。</span>
                                    <a href="http://book.98k.com/book/578824.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/767872.html" class="name" target="_blank">书中书之贴身笔仙</a>
                                    <a href="http://home.98k.com/show/userInfo/49784931.html" class="author-text" target="_blank">冬菇君</a>
                                    </p>
                                    <span class="intr intr-text">夜里他是女神的贴身高手，白天则幻化成女神的贴身内衣~</span>
                                    <a href="http://book.98k.com/book/767872.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/568980.html" class="name" target="_blank">魔域</a>
                                    <a href="http://home.98k.com/show/userInfo/3697424.html" class="author-text" target="_blank">乱世狂刀</a>
                                    </p>
                                    <span class="intr intr-text">一朝英雄拔剑起，又是苍生十年劫。</span>
                                    <a href="http://book.98k.com/book/568980.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-two-blank-mid fl">
                <div class="tab-lists-two">
                    <div class="top-title clearfix">
                        <div class="title fl">精品推荐</div>
                    </div>
                    <div class="mind-showbook clearfix">
                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/745281.html" target="_blank"><img src="~/picture/62d5acddc3c75ab1836efaf1b7d15057.jpeg" alt="混元仙佛" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/745281.html" target="_blank" title="混元仙佛">混元仙佛</a></div>
                                <p class="info"><a target="_blank">魍魉遍地，妖灵横生</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49156183.html" target="_blank" title="山无忧">山无忧</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1008/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" title="王朝争霸" target="_blank">王朝争霸</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/766459.html" target="_blank"><img src="~/picture/9dfc748589fb2aee8d45f352c6feb85b.jpeg" alt="灭生天下" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/766459.html" target="_blank" title="灭生天下">灭生天下</a></div>
                                <p class="info"><a target="_blank">身负双魂，一人闯修真世界</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49221957.html" target="_blank" title="猎奇的街灯">猎奇的街灯</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" title="东方玄幻" target="_blank">东方玄幻</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/731914.html" target="_blank"><img src="~/picture/bd13dd75d24ab649e05d89a13f04e7a3.jpeg" alt="天衍之王" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/731914.html" target="_blank" title="天衍之王">天衍之王</a></div>
                                <p class="info"><a target="_blank">八荒六合我为尊</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/48782508.html" target="_blank" title="天下第六">天下第六</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" title="东方玄幻" target="_blank">东方玄幻</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/763451.html" target="_blank"><img src="~/picture/46989c6cfa81f8f3579a21fc60c2306e.jpeg" alt="黑虎衔尸" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/763451.html" target="_blank" title="黑虎衔尸">黑虎衔尸</a></div>
                                <p class="info"><a target="_blank">一个人，一把刀，一条黑虎</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/48495915.html" target="_blank" title="燕南追">燕南追</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" title="东方玄幻" target="_blank">东方玄幻</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="link clearfix">

                        <p>
                            <a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="异世大陆">[异世大陆]</a>
                            <a href="http://book.98k.com/book/770867.html" class="bookname no-wrap" title="九转传奇" target="_blank">九转传奇:战士、法师、道士守护美丽家园</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1008/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="王朝争霸">[王朝争霸]</a>
                            <a href="http://book.98k.com/book/755229.html" class="bookname no-wrap" title="审判之锤" target="_blank">审判之锤:黑暗光明共存，血与火从此不同</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="异世大陆">[异世大陆]</a>
                            <a href="http://book.98k.com/book/749884.html" class="bookname no-wrap" title="闪金大陆" target="_blank">闪金大陆:没有神的世界，充满了魔法力量</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="异世大陆">[异世大陆]</a>
                            <a href="http://book.98k.com/book/749310.html" class="bookname no-wrap" title="战火佣兵" target="_blank">战火佣兵:是时势造了英雄？还是英雄造了时势？</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="东方玄幻">[东方玄幻]</a>
                            <a href="http://book.98k.com/book/773970.html" class="bookname no-wrap" title="逆云录" target="_blank">逆云录:乱世将起，少年英豪逆云直上</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank" title="异世大陆">[异世大陆]</a>
                            <a href="http://book.98k.com/book/774003.html" class="bookname no-wrap" title="光明圣子" target="_blank">光明圣子:加入光明神，扛起救世大任</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="top-two-blank-right fr">
                <div class="tab-lists">
                    <div class="top-title clearfix">
                        <div class="title fl">用户点击榜</div>
                        <div class="more fr"><a class="more-link" href="/rank/details.html?rt=5&d=1&i=0&c=1" target="_blank">更多</a></div>
                    </div>
                    <div class="h10-blank"></div>
                    <div class="lists">
                        <ul>

                            <li>
                                <div class="imgbox fl"><a href="http://book.98k.com/book/682920.html" target="_blank"><img src="~/picture/a71a535fd8ad36ff597e432076b760a2.jpeg" alt="圣武星辰"></a></div>
                                <em class="top1 list_icon"></em>
                                <a class="title" href="http://book.98k.com/book/682920.html" target="_blank" title="圣武星辰">圣武星辰</a>
                                <a class="author" href="http://home.98k.com/show/userInfo/3697424.html" target="_blank" title="乱世狂刀">乱世狂刀</a>
                                <span>1088306&nbsp;点击数</span>
                            </li>

                            <li><span>989381</span><em class="top2 list_icon">2</em><a href="http://book.98k.com/book/309318.html" target="_blank" title="祭炼山河">祭炼山河</a></li>

                            <li><span>548660</span><em class="top3 list_icon">3</em><a href="http://book.98k.com/book/685640.html" target="_blank" title="元尊">元尊</a></li>

                            <li><span>188230</span><em class="top4 list_icon">4</em><a href="http://book.98k.com/book/408586.html" target="_blank" title="逆天邪神">逆天邪神</a></li>

                            <li><span>140351</span><em class="top5 list_icon">5</em><a href="http://book.98k.com/book/711996.html" target="_blank" title="万界仙王">万界仙王</a></li>

                            <li><span>138336</span><em class="top6 list_icon">6</em><a href="http://book.98k.com/book/342974.html" target="_blank" title="永夜君王">永夜君王</a></li>

                            <li><span>49865</span><em class="top7 list_icon">7</em><a href="http://book.98k.com/book/189169.html" target="_blank" title="雪中悍刀行">雪中悍刀行</a></li>

                            <li><span>47356</span><em class="top8 list_icon">8</em><a href="http://book.98k.com/book/547156.html" target="_blank" title="天骄战纪">天骄战纪</a></li>

                            <li><span>24720</span><em class="top9 list_icon">9</em><a href="http://book.98k.com/book/568097.html" target="_blank" title="万域之王">万域之王</a></li>

                            <li><span>19327</span><em class="top10 list_icon">10</em><a href="http://book.98k.com/book/431145.html" target="_blank" title="盖世帝尊">盖世帝尊</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3.	分类三屏通栏广告位 -->
        <div class="com-recbox">
            <script type="text/javascript" src="~/js/240517642429.js"></script>
        </div>
        <div class="h40-blank"></div>
        <div class="top-two-blank clearfix">
            <div class="top-two-blank-left fl">
                <div class="top-title clearfix">
                    <div class="title">经典完本</div>
                    <div class="compile">
                        <div class="swiper-wrapper small-swiper">
                            <ul class="swiper-container1" style="height: 180px">

                                <li class="swiper-item" data-url="http://book.98k.com/book/431145.html" target="_blank">
                                    <img src="~/picture/eb12cc3b70c4c985105aa815daa62464.jpeg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/121112.html" target="_blank">
                                    <img src="~/picture/1366947495467.jpg">
                                </li>

                                <li class="swiper-item" data-url="http://book.98k.com/book/555035.html" target="_blank">
                                    <img src="~/picture/1487293360417.jpg">
                                </li>

                            </ul>
                            <div class="swiper-book swiper-infobox">

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/431145.html" class="name" target="_blank">盖世帝尊</a>
                                    <a href="http://home.98k.com/show/userInfo/12775608.html" class="author-text" target="_blank">一叶青天</a>
                                    </p>
                                    <a class="intr intr-text">睡神少年，肉身成圣，弹指遮天，俯览岁月称尊！</a>
                                    <a href="http://book.98k.com/book/431145.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/121112.html" class="name" target="_blank">国王万岁</a>
                                    <a href="http://home.98k.com/show/userInfo/3697424.html" class="author-text" target="_blank">乱世狂刀</a>
                                    </p>
                                    <a class="intr intr-text">穿越成为国王，在残酷的异世界，留下无敌的热血传说。</a>
                                    <a href="http://book.98k.com/book/121112.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                                <div class="itemInfo">
                                    <a href="http://book.98k.com/book/555035.html" class="name" target="_blank">大逆之门</a>
                                    <a href="http://home.98k.com/show/userInfo/1185346.html" class="author-text" target="_blank">知白</a>
                                    </p>
                                    <a class="intr intr-text">我念为天意，我怒为天威。</a>
                                    <a href="http://book.98k.com/book/555035.html" class="a-link animation_opacity" target="_blank">立即阅读</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-two-blank-mid fl">
                <div class="tab-lists-two">
                    <div class="top-title clearfix">
                        <div class="title fl">品书试读</div>
                    </div>
                    <div class="mind-showbook clearfix">

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/734251.html" target="_blank"><img src="~/picture/d2fac2879b6a50f1743db9cea92ee5bc.jpeg" alt="紫墟圣域" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/734251.html" target="_blank">紫墟圣域</a></div>
                                <p class="info"><a target="_blank">不灭之灵识再次君临大地</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/48850929.html" target="_blank" alt="红叶1212">红叶1212</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">异世大陆</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/763951.html" target="_blank"><img src="~/picture/cfb50b3753a4a5b3609f924bc9917bc7.jpeg" alt="红尘不问道" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/763951.html" target="_blank">红尘不问道</a></div>
                                <p class="info"><a target="_blank">脚踏八方裂碎山河</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/29890610.html" target="_blank" alt="总裁">总裁</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">异世大陆</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/722486.html" target="_blank"><img src="~/picture/63fb0206b950ef7fd7149b1285c3b7c1.jpeg" alt="骑士征程" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/722486.html" target="_blank">骑士征程</a></div>
                                <p class="info"><a href="#" target="_blank">底层军官的崛起史</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/48532668.html" target="_blank" alt="我爱小豆">我爱小豆</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1001/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">西方奇幻</a></div>
                            </div>
                        </div>

                        <div class="mind-book">
                            <div class="imgbox img-book fl"><a href="http://book.98k.com/book/754160.html" target="_blank"><img src="~/picture/a51632b8db7ef98b7b2b4048d115088f.jpeg" alt="证道苍天" target="_blank"></a></div>
                            <div class="book-info fr">
                                <div class="bookname"><a href="http://book.98k.com/book/754160.html" target="_blank">证道苍天</a></div>
                                <p class="info"><a href="#" target="_blank">在九死中破灭，九生中崛起</a></p>
                                <div class="author"><a href="http://home.98k.com/show/userInfo/49305418.html" target="_blank" alt="弦歌落缘">弦歌落缘</a></div>
                                <div class="cate"><a href="http://www.98k.com/store/c1/c1003/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" target="_blank">异世大陆</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="link clearfix">

                        <p>
                            <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[东方玄幻]</a>
                            <a href="http://book.98k.com/book/775624.html" class="bookname no-wrap" title="浴血蛮神" target="_blank">浴血蛮神：身坠轮回，逆天归来</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1005/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[异术超能]</a>
                            <a href="http://book.98k.com/book/777614.html" class="bookname no-wrap" title="超级吞噬系统" target="_blank">超级吞噬系统：炼绝世丹药，锻上古神兵！</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[东方玄幻]</a>
                            <a href="http://book.98k.com/book/776930.html" class="bookname no-wrap" title="神州我为王" target="_blank">神州我为王：皇道之路，谁主沉浮</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[东方玄幻]</a>
                            <a href="http://book.98k.com/book/773771.html" class="bookname no-wrap" title="南荒主宰" target="_blank">南荒主宰：凭块不起眼的石头逆天改命</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c1/c1002/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[东方玄幻]</a>
                            <a href="http://book.98k.com/book/760946.html" class="bookname no-wrap" title="守域奇缘" target="_blank">守域奇缘：守护五行仙域，守整个神域</a>
                        </p>

                        <p>
                            <a href="http://www.98k.com/store/c3/c1033/b0/u0/p1/v9/s9/t0/u0/i0/ALL.html" class="bookclass classify" target="_blank">[新派武侠]</a>
                            <a href="http://book.98k.com/book/763076.html" class="bookname no-wrap" title="浩然长歌" target="_blank">浩然长歌：家国天下，情义人生</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="top-two-blank-right fr">
                <div class="tab-lists">
                    <div class="top-title clearfix">
                        <div class="title fl">用户推荐榜</div>
                        <div class="more fr"><a class="more-link" href="http://book.98k.com/rank/details.html?rt=6&d=1&i=0&c=1" target="_blank">更多</a></div>
                    </div>
                    <div class="h10-blank"></div>
                    <div class="lists">
                        <ul>

                            <li>
                                <div class="imgbox fl"><a href="http://book.98k.com/book/682920.html" target="_blank"><img src="~/picture/a71a535fd8ad36ff597e432076b760a2.jpeg" alt="圣武星辰"></a></div>
                                <em class="top1 list_icon"></em>
                                <a class="title" href="http://book.98k.com/book/682920.html" target="_blank" title="圣武星辰">圣武星辰</a>
                                <a class="author" href="http://home.98k.com/show/userInfo/3697424.html" target="_blank" title="乱世狂刀">乱世狂刀</a>
                                <span>367169&nbsp;推荐票</span>
                            </li>

                            <li><span>173408</span><em class="top2 list_icon">2</em><a href="http://book.98k.com/book/309318.html" target="_blank" title="祭炼山河">祭炼山河</a></li>

                            <li><span>5595</span><em class="top3 list_icon">3</em><a href="http://book.98k.com/book/342974.html" target="_blank" title="永夜君王">永夜君王</a></li>

                            <li><span>2776</span><em class="top4 list_icon">4</em><a href="http://book.98k.com/book/408586.html" target="_blank" title="逆天邪神">逆天邪神</a></li>

                            <li><span>1841</span><em class="top5 list_icon">5</em><a href="http://book.98k.com/book/777234.html" target="_blank" title="一剑独尊">一剑独尊</a></li>

                            <li><span>1690</span><em class="top6 list_icon">6</em><a href="http://book.98k.com/book/711996.html" target="_blank" title="万界仙王">万界仙王</a></li>

                            <li><span>1488</span><em class="top7 list_icon">7</em><a href="http://book.98k.com/book/734818.html" target="_blank" title="狂暴逆袭">狂暴逆袭</a></li>

                            <li><span>1251</span><em class="top8 list_icon">8</em><a href="http://book.98k.com/book/626162.html" target="_blank" title="原血神座">原血神座</a></li>

                            <li><span>931</span><em class="top9 list_icon">9</em><a href="http://book.98k.com/book/685640.html" target="_blank" title="元尊">元尊</a></li>

                            <li><span>898</span><em class="top10 list_icon">10</em><a href="http://book.98k.com/book/547156.html" target="_blank" title="天骄战纪">天骄战纪</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4.	分类四屏通栏广告位 -->
        <div class="com-recbox">
            <script type="text/javascript" src="~/js/240517642430.js"></script>
        </div>
        <div class="h40-blank"></div>
        <div class="new_chapter">
            <div class="title">
                <div class="date tabT_wap">
                    <span class="tabT active">最新免费小说更新<div class="more fr"><a class="more-link" href="http://book.98k.com/store/c1/c0/b0/u0/p1/v0/s9/t0/u0/i1/ALL.html" target="_blank">更多</a></div></span> | <span class="tabT">最新VIP小说更新<div class="more fr"><a class="more-link" href="http://book.98k.com/store/c1/c0/b0/u0/p1/v1/s9/t0/u0/i1/ALL.html" target="_blank">更多</a></div></span>
                </div>
            </div>
            <div class="tabpanel tabC_wap">
                <div class="tabC" style="display:block;">
                    <div class="con">
                        <div class="tab-head">
                            <span class="kind">类别</span>
                            <span class="bookname">书名</span>
                            <span class="chap">章节</span>
                            <span class="author">作者</span>
                            <span class="count">字数</span>
                            <span class="time">更新时间</span>
                        </div>
                        <ul class="main_con"></ul>
                    </div>
                </div>
                <div class="tabC">
                    <div class="con">
                        <div class="tab-head">
                            <span class="kind">类别</span>
                            <span class="bookname">书名</span>
                            <span class="chap">章节</span>
                            <span class="author">作者</span>
                            <span class="count">字数</span>
                            <span class="time">更新时间</span>
                        </div>
                        <ul class="main_con"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="h40-blank"></div>
    </div>
    <div class="footer">
        <div class="partlink">
            <div class="wrap">
                <div class="title">出版合作联系</div>
                <div class="clearfix">
                    <div class="mail fl">

                        <div>版权合作联系人：许先生<a href="mailto:xubin@98k.com">xubin@98k.com</a></div>

                        <div>广告合作联系人 : 张女士<a href="mailto:zhangwen@98k.com">zhangwen@98k.com</a></div>

                    </div>

                    <div class="help-btn">
                        <a class="btn" href="http://www.98k.com/help/index.html" target="_blank">帮助中心</a>
                        <p>服务时间：24小时</p>
                    </div>

                    <div class="b1 foot-cell">
                        <div class="tit">客服</div>
                        <div class="qq">965151179</div>
                        <div class="email"><a href="mailto:zhkf@98k.com">zhkf@98k.com</a></div>
                    </div>
                    <div class="b2 foot-cell">
                        <div class="tit">举报</div>
                        <div class="tel">4006289988</div>
                        <div class="email"><a href="mailto:jubao@98k.com">jubao@98k.com</a></div>
                    </div>

                    <div class="app foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/app.png" alt="">
                        </div>
                        <p>客户端下载</p>
                    </div>

                    <div class="wchat foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/wx.png" alt="">
                        </div>
                        <p>微信公众号</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="links"><a href="http://www.98k.com/company/about.html" target="_blank">关于98k</a>|<a href="http://www.zhwenxue.com/join" target="_blank">诚聘英才</a>|<a href="http://www.98k.com/company/business.html" target="_blank">商务合作</a>|<a href="http://www.98k.com/company/copyright.html" target="_blank">法律声明</a>|<a href="http://www.98k.com/help/index.html" target="_blank">帮助中心</a>|<a href="http://author.98k.com" target="_blank">作者投稿</a>|<a href="http://www.98k.com/company/contact.html" target="_blank">联系我们</a>|<a href="http://www.98k.com/company/link.html" target="_blank">友情链接</a>|<a href="http://news.98k.com/zhuanti/wlqz/index.html" target="_blank">谨防诈骗</a>|<a href="http://www.98k.com/company/sitemap.html" target="_blank">网站地图</a></div>
            <p>Copyright©<a href="http://www.98k.com" target="_blank">www.98k.com</a>All Rights Reserved 版权所有 深圳创业网络文化科技有限公司   京ICP证：080527号《网络文化经营许可证》   <a href="http://static.98k.com/images/license/publication-license.jpg" target="_blank">京ICP备11009265号</a>   <a href="http://static.98k.com/images/license/business-license.jpg" target="_blank">京网文[2015]2368-459号</a></p>
            <p>新出发京零字第朝130010号  丨  统一社会信用代码91110105678221683F  丨 <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502030124" target="_blank">京公网安备  	11010502030124号</a>  丨 <a href="http://www.cyberpolice.cn/wfjb/" target="_blank">公安部网络违法犯罪举报网站</a></p>
            <p><a href="http://www.98k.com" target="_blank">98k小说中文</a>,提供<a href="http://www.98k.com/category/1.html" target="_blank">玄幻小说</a>,<a href="/category/9.html" target="_blank">都市小说</a>,<a href="http://huayu.baidu.com" target="_blank">言情小说</a>等<a href="http://book.98k.com/store/c0/c0/b0/u0/p1/v0/s9/t0/u0/i1/ALL.html" target="_blank">免费小说</a>阅读。作者发布小说作品时，请遵守国家互联网信息管理办法规定。</p>
            <p>本站所收录小说作品、社区话题、书库评论均属其个人行为，不代表本站立场。</p>
        </div>
        <script type="text/javascript" src="~/js/requires.min.js" @*defer async data-main="http://rcode.98k.com/v2018/js/map.min" *@></script>
    </div>
</body>
</html>