
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>小说,小说网-98k中文网|最热门的免费小说网</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="小说,小说网,免费小说,98k中文网" />
    <meta name="description" content="98k中文网,最热门的免费小说网站,提供玄幻小说、网游小说、言情小说、穿越小说、都市小说等免费小说在线阅读与下载。大神作品齐聚98k,最新章节每日更新。" />
    <link rel="stylesheet" type="text/css" href="~/css/passport.css" />
</head>
<body data-cpt3="1" data-cpt3app="FFFF0N00000000007274" data-cpt3scene="ic_login">
    <div class="wrap pass_header">
        <div class="pass_logo">
            <a href="/Home/Index"><img src="~/picture/logo.png" /></a>
        </div>
        <div class="pass_link">
            没有账号 <a href="/Home/Register">注册</a>
        </div>
    </div>
    <div class="passbg">
        <div class="wrap">
            <div class="pass_ad">
                <a href="/Home/Index" title="" target="_blank">
                    <img src="~/picture/enterzh.jpg" width="560" height="410">
                </a>
            </div>
            <div class="login box">
                <div class="login-style">
                    <span class="login-s-msg fl login-s-active">短信快速登录</span>
                    <span class="login-s-line"></span>
                    <span class="login-s-user fr">账号密码登录</span>
                </div>
                <div class="cl0"></div>
                <div class="login-box" style="display: block;">
                    <p>
                        <label for="telphone" class="icon-phone"></label>
                        <input type="text" name="telphone" placeholder="请输入手机号" id="telphone" class="login-text box" maxlength="11" />
                        <span class="clear-value">×</span>
                    </p>
                    <p class="error-more">
                        <label for="imgyzm" class="icon-safe fl"></label>
                        <input type="text" name="imgyzm" placeholder="请输入图片验证码" id="imgyzm" class="login-text box login-t-side fl captimg" />
                        <img class="btn-sent changecapt" />
                    </p>
                    <p>
                        <label for="yzm" class="icon-safe fl"></label>
                        <input type="text" name="yzm" placeholder="请输入手机验证码" id="yzm" class="login-text box login-t-side fl" maxlength="6" readonly="readonly" />
                        <span class="btn-red btn-sent sentphonecapt">发送验证码</span>
                    </p>
                    <p class="checkbox">
                        <input type="checkbox" id="checkphone" hidden="hidden" checked="checked" />
                        <label for="checkphone">
                            <span class="icon-check icon-checked"></span>记住手机号
                        </label>
                    </p>
                    <input type="submit" class="btn-submit btn-red submit-phone" value="登录" />
                </div>
                <div class="login-box">
                    <p>
                        <label for="username" class="icon-phone"></label>
                        <input type="text" name="username" placeholder="请输入98k账号/手机号" id="username" class="login-text box" maxlength="30" />
                        <span class="clear-value">×</span>
                    </p>
                    <p>
                        <label for="password" class="icon-password fl"></label>
                        <input type="password" name="password" placeholder="请输入密码" id="password" class="login-text box" maxlength="16" />
                        <span class="clear-value">×</span>
                    </p>
                    <div id="aliscode"></div>
                    <p class="error-more">
                        <label for="imgyzm2" class="icon-safe fl"></label>
                        <input type="text" name="imgyzm" placeholder="请输入验证码" id="imgyzm2" class="login-text box login-t-side fl captimg" maxlength="6" />
                        <img data-src="~/picture/3494380cadc441e9a1905407541fcd4b.gif" class="btn-sent changecapt">
                    </p>
                    <!-- <p class="checkbox"><input type="checkbox" id="checkphone" hidden="hidden" checked="checked" /><label for="checkphone"><span class="icon-check icon-checked"></span>下次自动登录</label></p> -->
                    <p class="checkbox" style="text-align: right;">
                        <a href="//passport.98k.com/webpassfind">忘记密码</a>
                    </p>
                    <input type="submit" class="btn-submit btn-red submit-user" value="登录" />
                </div>
                <div class="login-tips">
                    <div class="error-area">
                        <p class="error-tip">错误提示错误提示</p>
                    </div>
                    <a href="http://passport.98k.com/login.do?location=http://www.98k.com" class="fr">返回旧版登录>></a>
                    <a href="http://www.98k.com/help/index.html" target="_blank">联系客服</a>
                    <div class="cl0"></div>
                </div>
            </div>
            <div class="cl0"></div>
        </div>
    </div>
    <div class="cl0"></div>
    <!--头部背景 结束-->
    <div class="cl15"></div>
    <!-- 页尾 -->
    <div class="wrap foot">
        <p>
            <a href="#" @*target="_blank" *@>关于98k</a>|
            <a href="#" @*target="_blank" *@>诚聘英才</a>|
            <a href="#" @*target="_blank" *@>商务合作</a>|
            <a href="#" @*target="_blank" *@>法律声明</a>|
            <a href="#" @*target="_blank" *@>帮助中心</a>|
            <a href="#" @*target="_blank" *@>作者投稿</a>|
            <a href="#" @*target="_blank" *@>联系我们</a>|
            <a href="#" @*target="_blank" *@>友情链接</a>|
            <a href="#" @*target="_blank" *@>客服中心</a>|
            <a href="#" @*target="_blank" *@>谨防诈骗</a>|
            <a href="#" @*target="_blank" *@>网站地图</a>
        </p>
        <p>Copyright&copy;&nbsp;2008-2010 <a class="f66" href="/Home/Index">www.98k.com</a></p>
        <p>All Rights Reserved 版权所有  深圳创业网络文化科技有限公司</p>
        <p>京ICP证：080527号 《网络文化经营许可证》 京ICP备11009265号 京网文[2015]2368-459号 京公网安备110105005190号</p>
        <p>作者发布作品时，请遵守国家互联网信息管理办法规定。本站所收录作品、社区话题、书库评论均属其个人行为，不代表本站立场。</p>
        <em class="l_logo"></em>
    </div>
    <div style="display:none">
        <script type="text/javascript">
            //var TK = "82692a1542854297480";
            //var RSA_m = "a69ae1dd84777e7d40626a29a76f74c176806bb71ce120b259848a730664340bfa550d6fb807b4fe7a2e2a89478ca2f3ea56793440c70b7f3c2017add92e8661924adbda06bff326828ebdc8bef6d094118d64da2eec815812fb70f16aafc73229aa1734727d0a4df65f1c1a2a61946d00a37376822cb30b87127e15f82d68d1";
            //var RSA_e = "10001";
            var comeBackUrl = "/Home/Index" || "/Home/Index";
        </script>
    </div>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/lib.js"></script>
    <script type="text/javascript" src="~/js/logins.js"></script>
</body>
</html>