
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="copyright" content="本页版权 www.98k.com 98k中文网所有。All Rights Reserved" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://static.98k.com/favicon.ico" />
    <title>小说排行榜，最新热门小说排行榜，各类原创小说排行榜，98k中文小说网</title>
    <link rel="stylesheet" href="~/css/basic.min.css" />
    <link rel="stylesheet" href="~/css/rank.min.css" />
</head>
<body scriptSign="rank" _pgid="2">
    <div class="wrap">
        <div class="head">
            <div class="head-top clearfix">
                <div class="logo imgbox fl">
                    <a href="/Home/Index">
                        <img src="~/picture/logo.png" alt="logo">
                    </a>
                </div>
                @*全文检索11111*@
                <form id="commSearch" name="searchForm" method="post" action="" target="_blank">
                    <div class="search-box fl" data-hook="searchSuggest">
                        <input class="search-text fl" name="keyword" type="text" placeholder="斗罗大陆" autocomplete="off" disableautocomplete />
                        <input type="button" onclick="ToSearch()" class="search-btn fr" />
                    </div>
                </form>
                <div class="pay fr">
                    <a class="user_pay" href="/Home/Pay" target="_blank">充值</a>
                </div>
                <div class="right-wrap-login ud_userTox">
                    <div class="unlogin ud_unlogin clearfix">
                        <div class="login fl">
                            <a class="user_login" href="/Home/Login">登录</a>
                        </div>
                        <div class="regist fl">
                            <a class="user_register" href="/Home/Register">注册</a>
                        </div>
                    </div>
                    <div class="logon ud_loged clearfix" style="display:none;">
                        <div class="user tabA imgbox">
                            <img class="ud_avatar ud_goUsrCenter" src="~/picture/book.png" alt="" target="_blank">
                            <div class="user-blank tabA-float">
                                <a href="javascript:void(0);" class="quit ud_logout">退出</a>
                                <div class="user-name ud_goUsrCenter">
                                    <span class="ud_nickName"></span>
                                    <em class="icon"></em>
                                </div>
                                <div class="user-info clearfix">
                                    <div class="user-info-cell ud_money">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_ticket">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_mticket">
                                        <span class="item_loading"></span>
                                    </div>
                                </div>
                                <a href="/Home/Pay" class="btn" target="_blank">立即充值</a>
                            </div>
                        </div>
                        <div class="message">
                            <a href="/Home/MyMessages" class="mes" target="_blank">消息(<span class="ud_umessage"></span>)</a>
                        </div>
                        <div class="shelf">
                            <a href="/Home/Booshelfs" target="_blank">书架</a>
                        </div>
                        <div class="foot-mark tabA">
                            <span class="mark clearfix"> <a href="/AuthorLR/UnLogin" class="quit ud_logout">退出</a><em class="icon"></em></span>
                            <div class="tabA-float float-mark clearfix">
                                <!-- loading -->
                                <div class="ud_hisloading">
                                    <span class="item_loading"></span>
                                </div>
                                <!-- 没有记录 -->
                                <div class="ud_noHistory" style="display: none">
                                    <h2>亲爱的书友，您暂时没有阅读记录~</h2>
                                    <div class="tips">阅读记录只保存最近阅读的5本小说</div>
                                    <div class="enter">
                                        <a href="http://home.98k.com/favoritesBook.do" target="_blank">进入我的书架</a>
                                    </div>
                                </div>
                                <!-- 有记录 -->
                                <div class="ud_hasHistory" style="display: none">
                                    <ul class="mark-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav clearfix">
                <div class="menu-left fl">
                    <a href="/Home/Index">首页<em></em></a>
                    <a href="/Home/Stack">书库<em></em></a>
                    <a class="active" href="/Home/Ranking">排行<em></em></a>
                    @*<a href="/Home/Stack">完本<em></em></a>*@
                    <div class="app-menu tabA">
                        <div class="app-float tabA-float">
                            <div class="tit">98k小说 原创精品</div>
                            <div class="imgbox tabC_wap">
                                <div class="tabC" style="display: block;">
                                    <img src="~/picture/ad-float.png" alt="">
                                </div>
                                <div class="tabC">
                                    <img src="~/picture/ios-float.png" alt="">
                                </div>
                                <div class="tabC">
                                    <img src="~/picture/wx-float.png" alt="">
                                </div>
                            </div>
                            <div class="tabT_wap app-down">
                                <span class="tabT ad active"></span>
                                <span class="tabT ios"></span>
                                <span class="tabT wx"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-right fr">
                    <a href="/Home/Login" class="author_zone" target="_blank">作者专区<em></em></a>
                </div>
            </div>
        </div>
        <!-- 1.	排行头部广告位 -->
        <div class="com-recbox">
            <script type="text/javascript" src="~/js/240517642431.js"></script>
        </div>
        <div class="h15-blank"></div>
        <div class="rank_wrap clearfix">
            <div class="rank_menu">
                <div class="borderE6 rank_side">
                    <h3><a href="http://www.98k.com/rank.html" class="rank_active">人气榜单</a></h3>
                    <div class="borderB_e6"></div>
                    <h3>作品榜单</h3>
                    <p><a href="http://www.98k.com/rank/details.html?rt=1&d=1&i=2">月点击榜</a></p>
                    <p><a href="http://www.98k.com/rank/details.html?rt=3&d=1">周点击帮</a></p>
                    <p><a href="http://www.98k.com/rank/details.html?rt=4&d=1">新书点击榜</a></p>
                    <p><a href="http://www.98k.com/rank/details.html?rt=5&d=1">字数排行</a></p>
                    <p><a href="http://www.98k.com/rank/details.html?rt=6&d=1">收藏排行榜</a></p>
                    <p><a href="http://www.98k.com/rank/details.html?rt=7&d=1">订阅排行榜</a></p>
                    <div class="borderB_e6 margin_t10_b5"></div>
                    <h3>用户榜单</h3>
                    <p><a href="http://www.98k.com/rank/details.html?rt=11">读者消费榜</a></p>
                    <div class="borderB_e6 margin_t9_b1"></div>
                    <h3>作者榜单</h3>
                    <p><a href="http://www.98k.com/rank/details.html?rt=12">作者人气榜</a></p>
                </div>
                <div class="borderE6 margin_t9_b40">
                    <a href="http://news.98k.com/subject/mt/index" target="_blank" class="rank_a_crown"><em class=" rank_ico_crown"></em>月票冠军 · 新星作品</a>
                </div>
                <!-- 2.	排行左侧导航下方广告位：此处广告位置宽度固定，但是不限制广告样式的高度 -->
            </div>
            <div class="rank_main">
                <div class="rank_banner">
                    <div class="rank_i_title_name">
                        <span class="active">人气榜单</span>
                    </div>
                </div>
                <div class="rank_i_lists">
                    <!--月点击排行榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">月点击排行榜</div>
                        <div id="Month"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com/rank/details.html?rt=1&d=1" class="rank_i_more_a">更多</a>
                        </div>
                    </div>
                    <!--收藏排行榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">收藏排行榜</div>
                        <div id="Collection"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com/rank/details.html?rt=3&d=1" class="rank_i_more_a" target="_blank">更多</a>
                        </div>
                    </div>
                    <!--周点击排行榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">周点击排行榜</div>
                        <div id="Week"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com//rank/details.html?rt=4&d=1" class="rank_i_more_a" target="_blank">更多</a>
                        </div>
                    </div>
                    <!--新书周订阅榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">新书订阅榜</div>
                        <div id="Newbook"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com/rank/details.html?rt=9&d=1" class="rank_i_more_a" target="_blank">更多</a>
                        </div>
                    </div>
                    <!--书评排行榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">书评排行榜</div>
                        <div id="Reviews"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com/rank/details.html?rt=5&d=1" class="rank_i_more_a" target="_blank">更多</a>
                        </div>
                    </div>
                    <!--推荐榜-->
                    <div class="rank_i_p_list">
                        <div class="rank_i_p_tit">字数排行榜</div>
                        <div id="Num"></div>
                        <div class="rank_i_more">
                            <a href="http://www.98k.com/rank/details.html?rt=6&d=1" target="_blank" class="rank_i_more_a">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="partlink">
            <div class="wrap">
                <div class="title">出版合作联系</div>
                <div class="clearfix">
                    <div class="mail fl">
                        <div>版权合作联系人：许先生<a href="mailto:xubin@98k.com">xubin@98k.com</a></div>
                        <div>广告合作联系人：张女士<a href="mailto:zhangwen@98k.com">zhangwen@98k.com</a></div>
                    </div>
                    <div class="help-btn">
                        <a class="btn" href="http://www.98k.com/help/index.html" target="_blank">帮助中心</a>
                        <p>服务时间：24小时</p>
                    </div>
                    <div class="b1 foot-cell">
                        <div class="tit">客服</div>
                        <div class="qq">965151179</div>
                        <div class="email">
                            <a href="mailto:zhkf@98k.com">zhkf@98k.com</a>
                        </div>
                    </div>
                    <div class="b2 foot-cell">
                        <div class="tit">举报</div>
                        <div class="tel">4006289988</div>
                        <div class="email">
                            <a href="mailto:jubao@98k.com">jubao@98k.com</a>
                        </div>
                    </div>
                    <div class="app foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/app.png" alt="">
                        </div>
                        <p>客户端下载</p>
                    </div>
                    <div class="wchat foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/wx.png" alt="">
                        </div>
                        <p>微信公众号</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="links">
                <a href="http://www.98k.com/company/about.html" target="_blank">关于98k</a>|
                <a href="http://www.zhwenxue.com/join" target="_blank">诚聘英才</a>|
                <a href="http://www.98k.com/company/business.html" target="_blank">商务合作</a>|
                <a href="http://www.98k.com/company/copyright.html" target="_blank">法律声明</a>|
                <a href="http://www.98k.com/help/index.html" target="_blank">帮助中心</a>|
                <a href="http://author.98k.com" target="_blank">作者投稿</a>|
                <a href="http://www.98k.com/company/contact.html" target="_blank">联系我们</a>|
                <a href="http://www.98k.com/company/link.html" target="_blank">友情链接</a>|
                <a href="http://news.98k.com/zhuanti/wlqz/index.html" target="_blank">谨防诈骗</a>|
                <a href="http://www.98k.com/company/sitemap.html" target="_blank">网站地图</a>
            </div>
            <p>
                Copyright©
                <a href="http://www.98k.com" target="_blank">www.98k.com</a>
                All Rights Reserved 版权所有 深圳创业网络文化科技有限公司   京ICP证：080527号《网络文化经营许可证》
                <a href="http://static.98k.com/images/license/publication-license.jpg" target="_blank">京ICP备11009265号</a>
                <a href="http://static.98k.com/images/license/business-license.jpg" target="_blank">京网文[2015]2368-459号</a>
            </p>
            <p>
                新出发京零字第朝130010号  丨  统一社会信用代码91110105678221683F  丨 <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502030124" target="_blank">京公网安备  	11010502030124号</a>  丨
                <a href="http://www.cyberpolice.cn/wfjb/" target="_blank">公安部网络违法犯罪举报网站</a>
            </p>
            <p>
                <a href="http://www.98k.com" target="_blank">98k小说中文</a>,提供
                <a href="http://www.98k.com/category/1.html" target="_blank">玄幻小说</a>,
                <a href="/category/9.html" target="_blank">都市小说</a>,
                <a href="http://huayu.baidu.com" target="_blank">言情小说</a>等
                <a href="http://book.98k.com/store/c0/c0/b0/u0/p1/v0/s9/t0/u0/i1/ALL.html" target="_blank">免费小说</a>阅读。作者发布小说作品时，请遵守国家互联网信息管理办法规定。
            </p>
            <p>本站所收录小说作品、社区话题、书库评论均属其个人行为，不代表本站立场。</p>
        </div>
        <script type="text/javascript" src="~/js/require.min.js"></script>
    </div>
</body>
</html>
<script src="~/jquery-3.1.1.js"></script>
<script>
    function ToSearch() {
        location.href = '/Home/Search?keyword=' + $("[name=keyword]").val();
    }

    $(".ud_goUsrCenter").click(function () {
        location.href = "/Home/Booshelfs";
    })

     $(function () {
        var user = '@ViewBag.User';
        if (user != "") {
            $(".unlogin").hide();
            $(".logon").show();
            var state = '@ViewBag.State';
            if (state == 0) {
                $(".author_zone").attr("href", "/Home/ApplyWriter");
            }
            if (state == 1) {
               var author = '@ViewBag.Author';
                if (author=="") {
                    $(".author_zone").attr("href", "/Home/AuthorLogin");
                }
                else {
                    $(".author_zone").attr("href", "/Home/AuthorIndex");
                }
            }
        }
    })

    //收藏排行榜
    CollectionRanking();
    function CollectionRanking(Num) {
        $.ajax({
            url: "/Novel/CollectionRanking?Num=10",
            type: "post",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeName + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].Counts + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Collection").append(list);
                    }
                    if (i == 1)
                    {
                        var list =  '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Collection").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Collection").append(list);
                    }
                    if (i > 2) {
                            var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                                + '<div class="rank_i_num fl">' + (i + 1) +'</div>'
                            + '<div class="rank_i_bname fl">'
                                + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Collection").append(list);
                    }
                }
            }
        })
    }
    //月点击排行榜
    MonthRanking()
    function MonthRanking() {
        $.ajax({
            url: "/Novel/MonthRanking",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeName + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].Counts + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Month").append(list);
                    }
                    if (i == 1) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Month").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Month").append(list);
                    }
                    if (i > 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                            + '<div class="rank_i_num fl">' + (i + 1) +'</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Month").append(list);
                    }
                }
            }
        })
    }
    //周点击排行榜
    WeekRanking()
    function WeekRanking() {
        $.ajax({
            url: "/Novel/WeekRanking",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeName + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].Counts + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Week").append(list);
                    }
                    if (i == 1) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Week").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Week").append(list);
                    }
                    if (i > 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                            + '<div class="rank_i_num fl">' + (i + 1) +'</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Week").append(list);
                    }
                }
            }
        })
    }
    //书评击排行榜
    ReviewsRanking()
    function ReviewsRanking(Num) {
        $.ajax({
            url: "/Novel/ReviewsRanking?Num=10",
            type: "post",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeName + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].Counts + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Reviews").append(list);
                    }
                    if (i == 1) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Reviews").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Reviews").append(list);
                    }
                    if (i > 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                            + '<div class="rank_i_num fl">'+(i+1)+'</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Reviews").append(list);
                    }
                }
            }
        })
    }
    //新书周排行榜
    NewbookRanking()
    function NewbookRanking() {
        $.ajax({
            url: "/Novel/NewbookRanking",
            type: "post",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeName + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].Counts + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Newbook").append(list);
                    }
                    if (i == 1) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Newbook").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Newbook").append(list);
                    }
                    if (i > 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                            + '<div class="rank_i_num fl">' + (i + 1) +'</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].Counts + '</div>'
                            + '</div>';
                        $("#Newbook").append(list);
                    }
                }
            }
        })
    }

    //字数排行榜
    NumRanking()
    function NumRanking() {
        $.ajax({
            url: "/Novel/NumRanking",
            type: "post",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (i == 0) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li1 clearfix" id="list1">'
                            + '<div class="rank_i_num fl">1</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank" class="rank_i_l_a_book">' + data[i].NovelName + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_author">' + data[i].Pseudonym + '</a>'
                            + '<a href="" target="_blank" class="rank_i_l_a_category">' + data[i].TypeNameOne + '</a>'
                            + '<div class="rank_i_l_font">' + data[i].WordSize + '</div>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank"><img src="' + data[i].ImgPath + '" alt="' + data[i].NovelName + '"></a>'
                            + '</div>'
                            + '</div>';
                        $("#Num").append(list);
                    }
                    if (i == 1) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li2 clearfix" id="list2">'
                            + '<div class="rank_i_num fl">2</div>'
                            + '<div class="rank_i_bname fl">'
                            + '<a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].WordSize + '</div>'
                            + '</div>';
                        $("#Num").append(list);
                    }
                    if (i == 2) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li3 clearfix">'
                            + '<div class="rank_i_num fl">3</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].WordSize + '</div>'
                            + '</div>';
                        $("#Num").append(list);
                    }
                    if (i > 2 && i<10) {
                        var list = '<div class="borderB_c_dsh rank_i_li rank_i_li-1 clearfix">'
                            + '<div class="rank_i_num fl">' + (i + 1) + '</div>'
                            + '<div class="rank_i_bname fl">'
                            + ' <a href="/Home/Details?Id=' + data[i].NovelId +'" target="_blank">' + data[i].NovelName + '</a>'
                            + '</div>'
                            + '<div class="rank_i_bcount fr">' + data[i].WordSize + '</div>'
                            + '</div>';
                        $("#Num").append(list);
                    }
                }
            }
        })
    }
</script>