
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>98k小说中文网</title>
    <link rel="stylesheet" href="~/css/basic.min.css" />
    <link rel="stylesheet" href="~/css/search.min.css" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <style>
        b {
            color: red;
            font-weight: 600;
        }
    </style>
</head>
<body scriptsign="search" sort="">
    <div class="wrap">
        <div class="head">
            <div class="head-top clearfix">
                <div class="logo imgbox fl">
                    <img src="~/picture/logo.png" alt="logo">
                </div>
                @*全文检索111*@
                <form id="commSearch" name="searchForm" method="get" action="" target="_self">
                    <div class="search-box fl" data-hook="searchSuggest">
                        <input class="search-text fl" name="keyword" type="text" placeholder="斗罗大陆" value="@ViewBag.keyword" autocomplete="off" disableautocomplete="">
                        <input type="button" onclick="ToSearch()" class="search-btn fr">
                        <div class="sres_list" style="display: none;"></div>
                    </div>
                </form>
                <div class="pay fr">
                    <a class="user_pay" href="/Home/Pay">充值</a>
                </div>
                <div class="right-wrap-login ud_userTox">
                    <div class="unlogin ud_unlogin clearfix">
                        <div class="login fl">
                            <a class="user_login" href="/Home/Login">登录</a>
                        </div>
                        <div class="regist fl">
                            <a class="user_register" href="/Home/Register">注册</a>
                        </div>
                    </div>
                    <div class="logon ud_loged clearfix" style="display:none;">
                        <div class="user tabA imgbox">
                            <img class="ud_avatar ud_goUsrCenter" src="~/picture/book.png" alt="">
                            <div class="user-blank tabA-float">
                                <a href="javascript:void(0);" class="quit ud_logout">退出</a>
                                <div class="user-name ud_goUsrCenter">
                                    <span class="ud_nickName"></span>
                                    <em class="icon"></em>
                                </div>
                                <div class="user-info clearfix">
                                    <div class="user-info-cell ud_money">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_ticket">
                                        <span class="item_loading"></span>
                                    </div>
                                    <div class="user-info-cell ud_mticket">
                                        <span class="item_loading"></span>
                                    </div>
                                </div>
                                <a href="/Home/Pay" class="btn">立即充值</a>
                            </div>
                        </div>
                        <div class="message">
                            <a href="http://home.98k.com/msgIn.do" class="mes">消息(<span class="ud_umessage"></span>)</a>
                        </div>
                        <div class="shelf">
                            <a href="//home.98k.com/favoritesBook.do">书架</a>
                        </div>
                        <div class="foot-mark tabA">
                            <span class="mark clearfix">历史<em class="icon"></em></span>
                            <div class="tabA-float float-mark clearfix">
                                <!-- loading -->
                                <div class="ud_hisloading">
                                    <span class="item_loading"></span>
                                </div>
                                <!-- 没有记录 -->
                                <div class="ud_noHistory" style="display: none">
                                    <h2>亲爱的书友，您暂时没有阅读记录~</h2>
                                    <div class="tips">阅读记录只保存最近阅读的5本小说</div>
                                    <div class="enter"><a href="http://home.98k.com/favoritesBook.do">进入我的书架</a></div>
                                </div>
                                <!-- 有记录 -->
                                <div class="ud_hasHistory" style="display: none">
                                    <ul class="mark-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav clearfix">
                <div class="menu-left fl">
                    <a href="/Home/Index">首页<em></em></a>
                    <a href="/Home/Stack">书库<em></em></a>
                    <a href="/Home/Ranking">排行<em></em></a>
                    <div class="app-menu tabA">
                        <div class="app-float tabA-float">
                            <div class="tit">98k小说 原创精品</div>
                            <div class="imgbox tabC_wap">
                                <div class="tabC" style="display: block;">
                                    <img src="~/picture/ad-float.png" alt="">
                                </div>
                                <div class="tabC">
                                    <img src="~/picture/ios-float.png" alt="">
                                </div>
                                <div class="tabC">
                                    <img src="~/picture/wx-float.png" alt="">
                                </div>
                            </div>
                            <div class="tabT_wap app-down">
                                <span class="tabT ad active"></span>
                                <span class="tabT ios"></span>
                                <span class="tabT wx"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-right fr">
                    <a href="/Home/AuthorLogin" class="author_zone">作者专区<em></em></a>
                </div>
            </div>
        </div>
        <!-- 搜索主内容 -->
        <div class="h10-blank"></div>
        <div class="search-html-box clearfix">
            <div class="search-main fl">
                <div class="search-tips">共搜索到<span id="showBookNum">0</span>部与“<span id="queryword">元尊</span>”相关结果</div>
                <div class="search-nav">
                    <a href="?keyword=%E5%85%83%E5%B0%8A"><span class="active">默认</span></a>
                    <a href="?keyword=%E5%85%83%E5%B0%8A&sort=totalWord "><span>总字数</span></a>
                    <a href="?keyword=%E5%85%83%E5%B0%8A&sort=totalRecommend"> <span>总推荐</span></a>
                    <a href="?keyword=%E5%85%83%E5%B0%8A&sort=totalFavorite"><span>总收藏</span></a>
                    <a href="?keyword=%E5%85%83%E5%B0%8A&sort=totalClick"><span>用户总点击</span></a>
                    <a href="?keyword=%E5%85%83%E5%B0%8A&sort=updateTime"><span>更新时间</span></a>
                </div>
                <div class="search-tab">
                    <div id="divShowSearch"></div>
                    <div class="h20-blank"></div>
                    <div class="layui-elem-field layui-field-title" id="page"></div>
                    <div class="h40-blank"></div>
                </div>
            </div>
            <div class="search-side fr">
                <div class="search-side-con">
                    <div class="se-side-tit">大家都在搜</div>
                    <div class="se-side-cell clearfix" data-bookId="672340">
                        <div class="imgbox fl se-side-book">
                            <a href="http://book.98k.com/book/672340.html" target="_blank">
                                <img src="~/picture/1496234539057.jpg" alt="">
                            </a>
                        </div>
                        <div class="se-side-info fl">
                            <div class="bookname">
                                <a href="http://book.98k.com/book/672340.html" target="_blank">剑来</a>
                            </div>
                            <div class="bookinfo">
                                <a href="http://home.98k.com/show/userInfo/166130.html" target="_blank">烽火戏诸侯</a>
                                <em>|</em>
                                <a href="http://www.98k.com/category/3.html" target="_blank">武侠仙侠</a>
                            </div>
                            <p class="b-infos">
                                大千世界，无奇不有。
                                我陈平安，唯有一剑，可搬山，倒海，降妖，镇魔，敕神，摘星，断江，摧城，开天！
                            </p>
                        </div>
                    </div>
                    <div class="se-side-cell clearfix" data-bookId="730066">
                        <div class="imgbox fl se-side-book">
                            <a href="http://book.98k.com/book/730066.html" target="_blank">
                                <img src="~/picture/2c1fe294306eea58638e7d07a12a7628.jpeg" alt="">
                            </a>
                        </div>
                        <div class="se-side-info fl">
                            <div class="bookname">
                                <a href="http://book.98k.com/book/730066.html" target="_blank">点道为止</a>
                            </div>
                            <div class="bookinfo">
                                <a href="http://home.98k.com/show/userInfo/284372.html" target="_blank">梦入神机</a>
                                <em>|</em><a href="http://www.98k.com/category/9.html" target="_blank">都市娱乐</a>
                            </div>
                            <p class="b-infos">
                                功夫究竟是什么？
                                花架子还是杀人技？
                                三千年冷兵器战争和无数民间私斗酝酿出来的把式，究竟是不是骗局？
                                国术流开创者，功夫小说第一人梦入神机，在本书中为您揭秘。
                                止戈为武，点到为止。
                                “你若无敌，将会如何？”
                                “得饶人处且饶人。”
                            </p>
                        </div>
                    </div>
                    <div class="se-side-cell clearfix" data-bookId="735577">
                        <div class="imgbox fl se-side-book">
                            <a href="http://book.98k.com/book/735577.html" target="_blank">
                                <img src="~/picture/ff835851b6c6c44d8199839e770447c0.jpeg" alt="">
                            </a>
                        </div>
                        <div class="se-side-info fl">
                            <div class="bookname">
                                <a href="http://book.98k.com/book/735577.html" target="_blank">帝道独尊</a>
                            </div>
                            <div class="bookinfo">
                                <a href="http://home.98k.com/show/userInfo/12775608.html" target="_blank">一叶青天</a>
                                <em>|</em>
                                <a href="http://www.98k.com/category/1.html" target="_blank">奇幻玄幻</a>
                            </div>
                            <p class="b-infos">
                                天地初始，宇宙洪荒；奇门九遁，布道星空。
                                当地球尘封万古的雪山龙棺移位时刻，诛天大道临世，神魔文明到来，宇宙如同撕裂枷锁的神魔，演化着一个精彩绝伦的修行世界。
                                仙命少年从弱小中崛起，一步步踏向宇宙星海，战万界，伐仙穹......
                                作者微信公众号“一叶青天”，VIP订阅群：434739889
                            </p>
                        </div>
                    </div>
                    <div class="se-side-cell clearfix" data-bookId="751819">
                        <div class="imgbox fl se-side-book">
                            <a href="http://book.98k.com/book/751819.html" target="_blank">
                                <img src="~/picture/dadf3f130bdc7d9dc666fb20622902bb.jpeg" alt="">
                            </a>
                        </div>
                        <div class="se-side-info fl">
                            <div class="bookname">
                                <a href="http://book.98k.com/book/751819.html" target="_blank">长宁帝军</a>
                            </div>
                            <div class="bookinfo">
                                <a href="http://home.98k.com/show/userInfo/1185346.html" target="_blank">知白</a>
                                <em>|</em>
                                <a href="http://www.98k.com/category/6.html" target="_blank">历史军事</a>
                            </div>
                            <p class="b-infos">这个天下大大小小数百国，说到陆地武功宁国近乎无敌，有四疆四库的虎狼横扫六合，陆地延伸到哪儿，宁军就能把战旗插到哪儿，可是海疆之外虎狼不及之处总有些人不服气，于是就有了那少年带刀扬戟，一苇渡江。</p>
                        </div>
                    </div>
                    <div class="se-side-cell clearfix" data-bookId="325639">
                        <div class="imgbox fl se-side-book">
                            <a href="http://book.98k.com/book/325639.html" target="_blank">
                                <img src="~/picture/1467096066539.jpg" alt="">
                            </a>
                        </div>
                        <div class="se-side-info fl">
                            <div class="bookname">
                                <a href="http://book.98k.com/book/325639.html" target="_blank">星辰之主</a>
                            </div>
                            <div class="bookinfo">
                                <a href="http://home.98k.com/show/userInfo/53793.html" target="_blank">减肥专家</a>
                                <em>|</em>
                                <a href="http://www.98k.com/category/15.html" target="_blank">科幻游戏</a>
                            </div>
                            <p class="b-infos">
                                世纪之交，人类懵懂着踏入星空，就此暴露在诸神的视线之下。少年罗南背负着祖父的罪孽，走出实验室，且看他：
                                高举燃烧的笔记，脚踏诸神的尸骨；
                                书写万物的格式，增删宇宙的星图。
                                当知：万物皆备于我；必信：吾心即是宇宙。
                                书友群：474391549
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end搜索主内容 -->
    </div>
    <div class="footer">
        <div class="partlink">
            <div class="wrap">
                <div class="title">出版合作联系</div>
                <div class="clearfix">
                    <div class="mail fl">
                        <div>版权合作联系人：许先生<a href="mailto:xubin@98k.com">xubin@98k.com</a></div>
                        <div>广告合作联系人：张女士<a href="mailto:zhangwen@98k.com">zhangwen@98k.com</a></div>
                    </div>
                    <div class="help-btn">
                        <a class="btn" href="http://www.98k.com/help/index.html">帮助中心</a>
                        <p>服务时间：24小时</p>
                    </div>
                    <div class="b1 foot-cell">
                        <div class="tit">客服</div>
                        <div class="qq">965151179</div>
                        <div class="email">
                            <a href="mailto:zhkf@98k.com">zhkf@98k.com</a>
                        </div>
                    </div>
                    <div class="b2 foot-cell">
                        <div class="tit">举报</div>
                        <div class="tel">4006289988</div>
                        <div class="email">
                            <a href="mailto:jubao@98k.com">jubao@98k.com</a>
                        </div>
                    </div>
                    <div class="app foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/app.png" alt="">
                        </div>
                        <p>客户端下载</p>
                    </div>
                    <div class="wchat foot-blank">
                        <div class="imgbox fl">
                            <img src="~/picture/wx.png" alt="">
                        </div>
                        <p>微信公众号</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="links">
                <a href="http://www.98k.com/company/about.html" target="_blank">关于98k</a>|
                <a href="http://www.zhwenxue.com/join" target="_blank">诚聘英才</a>|
                <a href="http://www.98k.com/company/business.html" target="_blank">商务合作</a>|
                <a href="http://www.98k.com/company/copyright.html" target="_blank">法律声明</a>|
                <a href="http://www.98k.com/help/index.html" target="_blank">帮助中心</a>|
                <a href="http://author.98k.com/" target="_blank">作者投稿</a>|
                <a href="http://www.98k.com/company/contact.html" target="_blank">联系我们</a>|
                <a href="http://www.98k.com/company/link.html" target="_blank">友情链接</a>|
                <a href="http://news.98k.com/zhuanti/wlqz/index.html" target="_blank">谨防诈骗</a>|
                <a href="http://www.98k.com/company/sitemap.html" target="_blank">网站地图</a>
            </div>
            <p>
                Copyright©
                <a href="http://www.98k.com/" target="_blank">www.98k.com</a>All Rights Reserved 版权所有 深圳创业网络文化科技有限公司   京ICP证：080527号《网络文化经营许可证》
                <a href="http://static.98k.com/images/license/publication-license.jpg" target="_blank">京ICP备11009265号</a>
                <a href="http://static.98k.com/images/license/business-license.jpg" target="_blank">京网文[2015]2368-459号</a>
            </p>
            <p>
                新出发京零字第朝130010号  丨  统一社会信用代码91110105678221683F  丨
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502030124" target="_blank">京公网安备  	11010502030124号</a>  丨
                <a href="http://www.cyberpolice.cn/wfjb/" target="_blank">公安部网络违法犯罪举报网站</a>
            </p>
            <p>
                <a href="http://www.98k.com/" target="_blank">98k小说中文</a>,提供
                <a href="http://www.98k.com/category/1.html" target="_blank">玄幻小说</a>,
                <a href="http://www.98k.com/category/9.html" target="_blank">都市小说</a>,
                <a href="http://huayu.baidu.com/" target="_blank">言情小说</a>等
                <a href="http://book.98k.com/store/c0/c0/b0/u0/p1/v0/s9/t0/u0/i1/ALL.html" target="_blank">免费小说</a>阅读。作者发布小说作品时，请遵守国家互联网信息管理办法规定。
            </p>
            <p>本站所收录小说作品、社区话题、书库评论均属其个人行为，不代表本站立场。</p>
        </div>
        <script type="text/javascript" src="~/js/require.min.js"></script>
        <script src="~/jquery-3.1.1.js"></script>
        <script src="~/layui/layui.all.js"></script>
    </div>
</body>
</html>
<script>
    var PageIndex = 1;

    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;

        $(function () {
        var user = '@ViewBag.User';
        if (user != "") {
            $(".unlogin").hide();
            $(".logon").show();
        }

        searchBykeyword(PageIndex);
    })

        function searchBykeyword(PageIndex) {
            $.ajax({
                url: "/Novel/GetNovelsByElasticSearch?keyword=" + $("[name=keyword]").val() + "&pageIndex=" + PageIndex + "&pageSize=20",
                type: "post",
                dataType: "json",
                success: function (data) {
                    console.log(data)
                    $("#showBookNum").html(data.hits);
                    $("#queryword").html($("[name=keyword]").val());
                    $("#divShowSearch").html("");
                    for (var i = 0; i < data.list.length; i++) {
                        var div = '<div class="search-result-list clearfix"><div class="imgbox fl se-result-book"><a href="/Home/Details?Id=' + data.list[i].novelid + '" target="_blank"><img style="width: 100px; height: 132px" src="' + data.list[i].imgpath + '" ></a></div><div class="fl se-result-infos"><h2 class="tit"><a href="/Home/Details?Id=' + data.list[i].novelid + '" target="_blank"><font color="RED">' + data.list[i].novelname + '</font></a></h2><div class="bookinfo"><a href="#" target="_blank">' + data.list[i].authorname + '</a><em>|</em><a href="#" target="_blank">' + data.list[i].labelname + '</a><em>|</em><span>' + (data.list[i].state == 1 ? "连载中..." : "已完结") + '</span><em>|</em><span>' + data.list[i].wordsize + '字</span></div><p>' + data.list[i].noveldesc + '</p><div class="key-word">' + data.list[i].labelname + '关键词：爽文 热血</div></div><div class="btn"><a href="/Home/Details?Id=' + data.list[i].novelid + '" target="_blank" class="bkinfo">书籍详情</a><a href="javascript:void(0);" class="addshelf" onclick="AddBF(' + data.list[i].novelid + ')" data-bookId="' + data.list[i].novelid + '">加入书架</a></div></div>';
                        $("#divShowSearch").append(div);
                    }

                    laypage.render({
                        elem: 'page',
                        count: data.hits,    //总条数
                        curr: PageIndex,     //当前页
                        groups: 5,      //连续显示分页数
                        limit: 20,
                        theme: '#FF5722',
                        layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip'],
                        jump: function (e, first) {
                            if (!first) { //一定要加此判断，否则初始时会无限刷新
                                console.log(e.curr)
                                PageIndex = e.curr;
                                searchBykeyword(PageIndex);
                            }
                        }
                    });
                }
            })
        }
    })

    function ToSearch() {
        location.href = '/Home/Search?keyword=' + $("[name=keyword]").val();
    }

    //加入书架
    function AddBF(id) {
        if (@ViewBag.UserId == "") {
            location.href = "/Home/Login";
        }
        else {
            $.ajax({
                url: "/Bookshelf/AddBookshelf?uid=" + @ViewBag.UserId +"&nid=" + id,
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data > 0) {
                        alert("添加书架成功！");
                    }
                    else {
                        alert("添加书架失败！");
                    }
                }
            })
        }
    }
</script>