
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/x-admin.css" media="all">
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a><cite>首页</cite></a>
            <a><cite>管理员管理</cite></a>
            <a><cite>用户管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="layui-form-pane x-center" style="margin-top: 15px;width:800px;">
        <div class="layui-form-item">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="开始日" id="LAY_demorange_s">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" placeholder="截止日" id="LAY_demorange_e">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select name="RoleName" autocomplete="off" class="layui-input">
                    <option value="">--角色--</option>
                </select>

            </div>
            <div class="layui-input-inline" style="width:80px">
                <button id="sel" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </div>
        <div class="layui-form-item">


        </div>
    </div>
    <div class="x-body">
        <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><button class="layui-btn" onclick="role_add('添加用户','/Admin_Users/Add','900','500')"><i class="layui-icon">&#xe608;</i>添加</button><span class="x-right" style="line-height:40px">共有数据：<span id="pageCOunt"></span> 条</span></xblock>
        <table class="layui-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="qx" name="" value=""></th>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>角色</th>
                    <th>启用</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbodyList"></tbody>
        </table>

        <div id="page"></div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/x-layui.js" charset="utf-8"></script>
    <script src="/js/page.js"></script>
    <script>
        //定义全局变量记录页码信息
        var PageIndex;
        layui.use(['laydate', 'element', 'laypage', 'layer'], function () {
            $ = layui.jquery;//jquery
            laydate = layui.laydate;//日期插件
            lement = layui.element();//面包导航
            laypage = layui.laypage;//分页
            layer = layui.layer;//弹出层

            //角色
            $.ajax({
                url: "/Admin_Users/GetRoles",
                type: "post",
                async: false,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        var tr = '    <option value="' + data[i].RoleName + '">' + data[i].RoleName + '</option>'
                        $("[name=RoleName]").append(tr);
                    }
                }
            })


            //以上模块根据需要引入
            show(PageIndex);

            //全选
            $("#qx").click(function () {
                $("[name=ck]").prop("checked", $(this).prop("checked"));
            })

            var start = {
                min: '1999-01-01 00:00:00'
                , max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                min: '1999-01-01 00:00:00'
                , max: '2099-06-16 23:59:59'
                , istoday: false
                , choose: function (datas) {
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };

            document.getElementById('LAY_demorange_s').onclick = function () {
                start.elem = this;
                laydate(start);
            }

            document.getElementById('LAY_demorange_e').onclick = function () {
                end.elem = this
                laydate(end);
            }

            $("#sel").click(function () {
                show(PageIndex);
            })
        });

        function show(PageIndex) {
            $.ajax({
                url: "/Admin_Users/Query",
                type: "post",
                data: {
                    startDate: $("#LAY_demorange_s").val(),
                    endDate: $("#LAY_demorange_e").val(),
                    UserName: $("#userName").val(),
                    RoleName: $("[name=RoleName]").val(),
                    pageIndex: PageIndex,
                    pageSize: 5
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    $("#tbodyList").empty();
                    $("#pageCOunt").html(data.PageCount);
                    for (var i = 0; i < data.Data.length; i++) {
                        var tr = '<tr>'
                            + '<td><input type="checkbox" value="' + data.Data[i].Admin_UserId + '" name="ck"></td>'
                            + '<td>' + data.Data[i].Admin_UserId + '</td>'
                            + '<td>' + data.Data[i].Admin_UserName + '</td>'
                            + '<td>' + data.Data[i].RoleNames + '</td>'

                            + '<td>' + (data.Data[i].State == 1 ? "启用" : "禁用") + '</td>'
                            + '<td>' + data.Data[i].CreateDate + '</td>'
                            + '<td class="td-manage"><a title="编辑" href="javascript:;" onclick="role_edit(\'编辑\',\'/Admin_Users/Update\',' + data.Data[i].Admin_UserId + ',\'\',\'510\')" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a><a title="删除" href="javascript:;" onclick="role_del(this,\'' + data.Data[i].Admin_UserId + '\')" style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>'
                        $("#tbodyList").append(tr);
                    }

                    var page = Math.ceil(data.PageCount / 5);  //总页数
                    var curr = PageIndex;    //当前页

                    laypage({
                        cont: 'page',   //分页需要显示的地方
                        pages: page,    //总页数
                        curr: curr,     //当前页
                        groups: 3,      //连续显示分页数
                        skip: true,     //是否开启跳页
                        first: '首页',
                        last: '尾页',
                        skin: 'molv',   //加载内置皮肤，也可以直接赋值16进制颜色值，如:#c00
                        prev: '<em><</em>',      // 若不显示，设置false即可
                        next: '<em>></em>',      //若不显示，设置false即可
                        jump: function (e, first) { //触发分页后的回调
                            if (!first) { //一定要加此判断，否则初始时会无限刷新
                                PageIndex = e.curr;
                                show(PageIndex);
                            }
                        }
                    });
                }
            })
        }

        //批量删除提交
        function delAll() {
            layer.confirm('确认要删除吗？', function (index) {
                //捉到所有被选中的，发异步进行删除
                var ids = [];
                $("[name=ck]:checked").each(function () {
                    ids.push($(this).val());
                })
                console.log(ids);
                if (ids.length == 0) {
                    alert("请选择要操作的数据");
                    return;
                }
                $.ajax({
                    url: "/Admin_Users/Delete?Ids=" + ids,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            layer.msg('删除成功', { icon: 1 });
                            show();
                        }
                        else {
                            layer.msg('删除失败!', { icon: 2, time: 1000 });
                        }
                    }
                })
            });
        }

        /*添加*/
        function role_add(title, url, w, h) {
            x_admin_show(title, url, w, h);
        }

        //编辑
        function role_edit(title, url, id, w, h) {
            console.log(id);
            x_admin_show(title, url + "?Id=" + id, w, h);
        }

        /*删除*/
        function role_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //发异步删除数据
                $.ajax({
                    url: "/Admin_Users/Delete?Ids=" + id,
                    type: "post",
                    success: function (data) {
                        if (data) {
                            layer.msg('删除成功', { icon: 1 });
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', { icon: 1, time: 1000 });
                        }
                        else {
                            layer.msg('删除失败!', { icon: 2, time: 1000 });
                        }
                    }
                })
            });
        }
    </script>
</body>
</html>