
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Email/lead">
        <input id="Button1" type="submit" value="发送" />
    </form>
</body>
</html>
