
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPermissions</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/x-admin.css" media="all">
</head>
<body>
    <div class="x-body">
        <form action="" method="post" class="layui-form layui-form-pane" id="form0">
            <div class="layui-form-item">
                <label for="name1" class="layui-form-label">
                    <span class="x-red">*</span>等级名称:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="GradeName" name="GradeName" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="name2" class="layui-form-label">
                    <span class="x-red">*</span>经验值:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="Experience" name="Experience" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" class="layui-btn" lay-submit="" lay-filter="add" value="增加" />
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/lib/layui/layui.js" charset="utf-8">
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/x-layui.js" charset="utf-8">
    </script>
    <script>

        layui.use(['form', 'layer', 'laydate'], function () {
            $ = layui.jquery;
            var form = layui.form()
                , layer = layui.layer;
            laydate = layui.laydate;//日期插件

        

            form.on('submit(add)', function () {
                console.log($("#form0").serialize());
                $.ajax({
                    url: "/Grades/Add",
                    data: $("#form0").serialize(),
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            layer.alert("增加成功", { icon: 6 }, function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                window.parent.location.reload();
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        }
                        else {
                            layer.msg('增加失败!', { icon: 2, time: 1000 });
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            });
        });
    </script>
</body>
</html>